<!DOCTYPE html>
<html>
<head>
  <title>Login Page</title>
</head>
<h1> Login Page </h1>
<body>
  <form method="post">
    Username:<br>
    <input type="text" name="username"><br>
    Password:<br>
    <input type="text" name="password" id="password"><br>
<input type="checkbox" onclick="showPassword()"> Do Not Show Password
<script>
function showPassword() {
  var x = document.getElementById("password");
  if (x.type === "password") {
    x.type = "text";
  } else {
    x.type = "password";
  }
}
</script>
<br>

    <input type="submit" value ="Login"  name="submit">
    <br>
    <br>
 <a href="{{node_address}}/register"> Register</a>
  </form>
</body>
</html>
